.form--section {
  background-color: #fff;
  border-radius: 6px;
  padding: 2em 1em;
  font-family: 'lato',sans-serif; }

.form {
  width: 350px;
  margin: 0 auto;
  margin-bottom: .5em;
  padding: .9em;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  border-radius: 5px; }
  .form legend {
    text-align: center;
    font-size: 1.8rem;
    font-family: 'Koho',sans-serif;
    margin-bottom: .5em;
    font-weight: 600;
    line-height: 1;
    color: #d8860a; }
  .form__group {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: .4em; }
    .form__group label {
      font-size: 1.2rem; }
    .form__group input {
      width: 100%;
      padding: .55em .45em;
      font-size: 1.05rem;
      font-family: 'lato',sans-serif;
      border: 1px solid #94949c;
      transition: transform 200ms linear;
      border-radius: 5px; }
      .form__group input:focus {
        outline: 0.1em solid #021227; }
      .form__group input:active {
        transform: translateY(-2px); }
  .form__submit {
    margin-top: 1em; }
    .form__submit input {
      font-family: 'lato',sans-serif;
      font-size: 1.1rem;
      padding: .6em 1.7em;
      border: none;
      background-color: #7d7f8b;
      box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.65);
      color: #fff;
      font-weight: 600;
      letter-spacing: .5px; }
      .form__submit input:hover, .form__submit input:focus {
        opacity: .85;
        cursor: pointer; }

.login__section {
  width: 350px;
  margin: 0 auto; }
  .login__section p {
    font-size: 1.15rem;
    line-height: 1.2; }
  .login__section .login {
    font-weight: 600;
    text-decoration: none;
    color: #ff7b00; }
    .login__section .login:hover, .login__section .login:focus {
      text-decoration: 2px underline; }

@media screen and (min-width: 600px) {
  .form {
    width: 500px;
    padding: 1.2em; }
  .login__section {
    width: 500px; } }

.field__error {
  border-color: red !important; }
  .field__error:focus {
    outline-color: red !important; }

.error__msg {
  font-size: .76rem;
  color: red;
  line-height: 1.4;
  font-weight: 500; }
