{% extends 'layout.html' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{url_for('static',filename='css/login.css')}}">
{% endblock %}

{% block body %}
    <section class="form--section">
        <form method="post" class="form" autocomplete="off">         
            {{form.hidden_tag()}}
            <legend>Login Here</legend>

            <div class="form__group">
                {{form.email.label()}}
                {% if form.email.errors %}
                    {{form.email(class="field__error")}}
                    {% for error in form.email.errors %}
                        <span class="error__msg">{{error}}</span>
                    {% endfor %}
                {% else %}
                    {{form.email(placeholder="enter your email address")}}
                {% endif %}
            </div>

            <div class="form__group">
                {{form.password.label()}}
                {% if form.password.errors %}
                    {{form.password(class="field__error")}}
                    {% for error in form.password.errors %}
                        <span class="error__msg">{{error}}</span>
                    {% endfor %}
                {% else %}
                    {{form.password(placeholder="enter your password")}}
                {% endif %}
            </div>

            <div class="form__remember__group">
                {{form.remember()}}
                {{form.remember.label()}}
            </div>

            <div class="form__submit">
                {{form.login()}}
            </div>

        </form>

        <div class="register__section">
            <p>Have not registered yet, <a href="/register" class="register">register now</a></p>
        </div>
    </section>
{% endblock %}

{% block scripts %}
{% endblock %}